@font-face {
  src: url(./vendor/Inter/Inter-Regular.woff2) format("woff2");
  font-family: "Inter-Regular";
  font-weight: normal;
}

@font-face {
  src: url(./vendor/Inter/Inter-Bold.woof2) format("woff2");
  font-family: "Inter-Bold";
  font-weight: normal;
}

@font-face {
  src: url(./vendor/Inter/Inter-Black.woff2) format("woff2");
  font-family: "Inter-Black";
  font-weight: normal;
}

@font-face {
  src: url(./vendor/Inter/Inter-Regular.woff2) format("woff2");
  font-family: "Inter-Regular";
  font-weight: bold;
}

@font-face {
  src: url(./vendor/Inter/Inter-Bold.woof2) format("woff2");
  font-family: "Inter-Bold";
  font-weight: bold;
}

@font-face {
  src: url(./vendor/Inter/Inter-Black.woff2) format("woff2");
  font-family: "Inter-Black";
  font-weight: bold;
}
