.page {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2a2c2f;
}

.page__section {
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .page__section {
    padding: 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .page__section {
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .page__section {
    padding: 0 16px;
  }
}

.page__section_xl_wide {
  max-width: 1184px;
}

@media screen and (max-width: 1279px) {
  .page__section_lg_wide {
    padding: 0;
  }
}

@media screen and (max-width: 1023px) {
  .page__section_md_wide {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .page__section_sm_wide {
    padding: 0;
  }
}

.page__section_xl_narrow {
  max-width: 984px;
}

@media screen and (max-width: 1279px) {
  .page__section_lg_narrow {
    padding: 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .page__section_md_narrow {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .page__section_sm_narrow {
    padding: 0;
  }
}

.header div {
  position: relative;
  width: 1184px;
  height: 52px;
}

.header__logo {
  width: 176px;
  height: 52px;
  position: absolute;
  top: 28px;
}

.header__lang-link {
  width: 30px;
  height: 28px;
  position: relative;
  top: 46px;
  left: 1100px;
  padding-right: 18px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: white;
  box-sizing: border-box;
}

.header__lang-link:last-child {
  text-decoration: none;
  padding-right: 0;
}

.content {
  position: relative;
}

.lead {
  color: white;
}

.lead__title {
  width: 720px;
  height: 200px;
  position: absolute;
  top: 136px;
  left: 280px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

.lead__subtitle {
  width: 640px;
  height: 72px;
  position: absolute;
  top: 368px;
  left: 320px;
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.lead__image {
  width: 984px;
  height: 615px;
  position: absolute;
  top: 504px;
  left: 148px;
  margin: 0;
}

.lead__caption {
  width: 300px;
  height: 14px;
  position: absolute;
  top: 1127px;
  left: 148px;
  margin: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.intro div {
  position: relative;
}

.intro__title {
  width: 690px;
  height: 58px;
  position: absolute;
  top: 1223px;
  left: 148px;
  margin: 0;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
  color: white;
}

.intro__text {
  width: 690px;
  height: 280px;
  position: absolute;
  top: 1331px;
  left: 148px;
  margin: 0;
  padding-top: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: white;
}

.intro__list {
  width: 690px;
  height: 90px;
  position: absolute;
  top: 1572px;
  left: 148px;
  margin: 0;
  padding-top: 33px;
  padding-left: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  list-style: none;
  box-sizing: border-box;
  color: white;
}

.photo-grid {
  width: 1300px;
  height: 671px;
  position: absolute;
  top: 1754px;
  right: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.photo-grid__item {
  width: 284px;
}

.places {
  color: white;
  position: absolute;
  top: 2470px;
}

.place {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  position: relative;
}

.place__title {
  width: 460px;
  margin: 80px 672px 0 148px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: left;
}
/* 
.place__title:nth-of-type(1n) {
  margin-top: 0;
} */

.place__image {
  width: 460px;
  height: 460px;
  margin: 48px 672px 0 148px;
}

.place__website {
  width: 456px;
  height: 46px;
  position: absolute;
  left: 648px;
  margin-top: 120px;
}

.place__website__url-heading {
  width: 456px;
  height: 12px;
  margin-top: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2px;
  text-align: left;
  color: #aaaaaa;
}

.place__website__link {
  width: 456px;
  height: 22px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: white;
}

.text {
  position: absolute;
  left: 648px;
  margin-top: 204px;
  gap: 26px;
}

.place__website__paragraph {
  width: 484px;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
}

.place__website__paragraph:last-of-type {
  margin-top: 0;
}

.cover {
  position: absolute;
  top: 6001px;
  left: 48px;
  color: white;
}

.cover__title {
  width: 560px;
  position: absolute;
  margin: 245px 312px 343px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: center;
}

.cover__subtitle {
  width: 360px;
  position: absolute;
  margin: 429px 412px 245px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

.cover__overlay {
  width: 1184px;
  height: 740px;
  background: rgba(42, 44, 47, 0.8);

  /* background-color: #2a2c2f;
  opacity: 0.8; */
}

.cover__overlay:hover {
  opacity: 0.3;
}

.cover__background {
  width: 1184px;
  height: 740px;
  opacity: 0.8;
}

.footer {
  width: 1184px;
  position: relative;
  top: 6833px;
  padding: 0;
  display: flex;
  gap: 18px;
  box-sizing: border-box;
}

.footer__link {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-decoration: none;
}

.footer__copyright {
  color: white;
  margin-top: 0;
  margin-left: 533px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: right;
}

@media screen and (max-width: 320px) {
  .header {
    position: relative;
  }

  .header__logo {
    width: 142px;
    height: 42px;
    position: absolute;
    top: 16px;
    left: 16px;
  }

  .header__lang-link {
    width: 22px;
    height: 20px;
    position: relative;
    top: 30px;
    left: 242px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: right;
    color: white;
  }

  .header__lang-link:last-child {
    text-decoration: none;
  }

  .content {
    position: relative;
  }

  .lead {
    color: white;
  }

  .lead__title {
    height: 88px;
    width: 288px;
    position: absolute;
    left: 16px;
    top: 106px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
  }

  .lead__subtitle {
    height: 40px;
    width: 288px;
    position: absolute;
    left: 16px;
    top: 210px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  .lead__image {
    width: 320px;
    height: 200px;
    position: absolute;
    top: 290px;
    left: -2px;
    margin: 0;
  }

  .lead__caption {
    position: absolute;
    top: 498px;
    left: 16px;
    margin: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  .intro {
    color: white;
    position: relative;
  }

  .intro__title {
    width: 288px;
    height: 70px;
    position: absolute;
    top: 576px;
    left: 16px;
    margin: 0;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    text-align: left;
  }

  .intro__text {
    width: 288px;
    height: 512px;
    position: absolute;
    top: 686px;
    left: 16px;
    margin: 0;
    padding-top: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
  }

  .intro__list {
    width: 288px;
    height: 90px;
    position: absolute;
    top: 1240px;
    left: 16px;
    margin: 0;
    padding-top: 34px;
    padding-left: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    list-style: none;
    box-sizing: border-box;
  }

  .photo-grid {
    width: 288px;
    height: 2724px;
    position: absolute;
    top: 1394px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }

  .photo-grid__item {
    width: 288px;
    height: 216px;
  }

  .places {
    color: white;
    position: absolute;
    top: 4182px;
  }

  .place {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .place__title {
    width: 288px;
    margin: 64px 16px 0;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    text-align: left;
  }
  /* 
  .place__title:nth-of-type(1n) {
    margin-top: 0;
  } */

  .place__image {
    width: 320px;
    height: 320px;
    margin: 0;
    margin-top: 110px;
  }

  .place__website {
    width: 288px;
    height: 46px;
    position: absolute;
    left: 16px;
  }

  .place__website__url-heading {
    width: 456px;
    height: 12px;
    margin-top: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2px;
    text-align: left;
    color: #aaaaaa;
  }

  .place__website__link {
    width: 288px;
    height: 22px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: white;
  }

  .text {
    position: absolute;
    left: 16px;
    margin-top: 561px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  .text::before {
  }

  .place__website__paragraph {
    width: 288px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
  }

  .place__website__paragraph:last-of-type {
    margin-top: 0;
  }

  .cover {
    position: absolute;
    top: 9425px;
    left: 0;
    color: white;
  }

  .cover__title {
    width: 288px;
    position: absolute;
    margin: 33px 16px 97px;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    text-align: center;
  }

  .cover__subtitle {
    width: 288px;
    position: absolute;
    margin: 119px 16px 33px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
  }

  .cover__overlay {
    width: 320px;
    height: 200px;
    background: rgba(42, 44, 47, 0.8);

    /* background-color: #2a2c2f;
    opacity: 0.8; */
  }

  .cover__overlay:hover {
    opacity: 0.3;
  }

  .cover__background {
    width: 320px;
    height: 200px;
    opacity: 0.8;
  }

  .footer {
    width: 186px;
    height: 310px;
    position: relative;
    top: 9689px;
    margin: 0;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .footer__link {
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
  }

  .footer__copyright {
    width: 195px;
    color: white;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: right;
  }
}
