.cover__overlay {
  width: 1184px;
  height: 740px;
  background: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
    width: 1024px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    width: 768px;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    width: 530px;
  }
}

@media screen and (max-width: 530px) {
  .cover__overlay {
    width: 320px;
  }
}

.cover__overlay:hover {
  opacity: 0.3;
}
